.body{
	background-color: blue;
	height: 101vh;
}

.sticky-header2{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 3;
	background-color: green;
	.header-inicial-sale{
		font-family: 'Roboto';
		font-size: 12px;
		padding: 15px;
	}
}

.modal{
	font-family: 'Roboto';
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: rgba(6, 6, 6, 0.7); 
	display: none;
	transition: .5s;
	z-index: 100;
	&.active{
		display: inline-block;
	}
	.modal-block{
		transition: .5s;
		background: #FFF; 
		box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.25); 
		display: inline-block;
		width: 530px;
		max-width: calc(100% - 30px);
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		.modal-block-head{
			padding: 12px 10px;
			position: relative;
			h2{
				margin: 0;
				color: #FFF;
				font-size: 16px;
				line-height: 19px;
				font-weight: 400; 
				text-align: center;
				font-family: 'Roboto';
			}
			img{
				position: absolute;
				right: 10px;
				top: 10px;
				display: inline-block;
				text-decoration: none;
				cursor: pointer;
			}
		}
		.modal-block-body{
			text-align: center;
			padding: 0px 20px 24px;
			img{
				display: inline-block;
				margin-bottom: 24px;
				@media( max-width: 767px) {
					max-width: 30px;
					margin-bottom: 15px;
				}
			}
			h3{
				color: #525252;
				font-size: 26px;
				font-weight: 700;
				line-height: 39px; 
				margin-top: 0;
				margin-bottom: 8px;
				font-family: 'Roboto';
				@media( max-width: 767px) {
					font-size: 18px;
					line-height: 22px;
					margin-bottom: 5px;
				}
			}
			h4{
				margin: 0;
				margin-bottom: 8px;
				color: #781878;
				font-weight: 700;
				font-size: 28px;
				line-height: 42px;
				font-family: 'Roboto';
				.cd-mobile, img{
					display: none;
				}
			}
			p{
				width: 537px;
				max-width: 100%;
				color: #525252;
				font-size: 16px; 
				line-height: 21px;
				margin: 0 auto;
				margin-bottom: 24px;
				font-family: 'Roboto';
				@media( max-width: 767px) {
					font-size: 14px;
					line-height: 17px;
					margin-bottom: 15px;
				}
			}
			button{
				cursor: pointer;
				border-radius: 5px;
				background: #FC199A; 
				display: inline-block;
				padding: 10px 16px;
				border: none;
				font-size: 18px;
				line-height: 24px;
				color: #fff;
				max-width: 100%;
				@media( max-width: 767px) {
					font-size: 14px;
					line-height: 17px;
				}
			}
		}
	}
	&.change{
		background: rgba(6, 6, 6, 0); 
		position: relative;
		height: auto;
		.modal-block{
			top: 0;
			left: 0;
			width: 100%;
			transform: translate(0,0);
			max-width: 100%;
			position: relative;
			display: block;
			background-color: #f1e8f1;
			.modal-block-head{
				display: none;
			}
			.modal-block-body{
				padding: 12px 14px;
				@media( max-width: 767px) {
					padding: 8px 14px;
				}
				img{
					display: none;
				}
				button, h3, p{
					display: none;
				}
				h4{
					font-size: 12px;
					line-height: 20px;
					margin-bottom: 0;
					position: relative;
					padding-left: 37px;
					display: inline-block;
					@media( max-width: 767px) {
						font-size: 11px;
					}
					img{
						position: absolute;
						left: 0;
						top: 50%;
						transform: translate(0,-50%);
						display: inline-block;
					}
					.cd-mobile{
						display: inline;
						color: #000;
						&.cd-normal{
							font-weight: 400;
						}
					}
				}
			}
		}
	}
}