html {
    box-sizing: border-box;
    position: relative;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    form {
        margin: 0;
    }
    a {
        &:focus {
            outline: 0;
        }
    }
}

.transition {
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.u-right {
    text-align: right;
    @media screen and (max-width: 767px) {
        text-align: left;
    }
}

.u-center {
    text-align: center;
}

.maxwidth{
    max-width: 100%;
}

@function isMultiple10($i){   
    @return ($i % 10 == 0);   
}
@for $i from 0 through 100{  
    @if(isMultiple10($i)){    
        .u-mb#{$i}{
            margin-bottom: 0px + $i;
            @if($i < 70 and $i > 30){
                @media screen and (max-width: 767px) {
                    margin-bottom: 30px;
                }
            }
            @if($i <= 100 and $i >= 70){
                @media screen and (max-width: 767px) {
                    margin-bottom: 40px;
                }
            }
        }
        .u-mt#{$i}{
            margin-top: 0px + $i;
            @if($i < 70 and $i > 30){
                @media screen and (max-width: 767px) {
                    margin-top: 30px;
                }
            }
            @if($i <= 100 and $i >= 70){
                @media screen and (max-width: 767px) {
                    margin-top: 40px;
                }
            }
        }
        .u-pb#{$i}{
            padding-bottom: 0px + $i;
            @if($i < 70 and $i > 30){
                @media screen and (max-width: 767px) {
                    padding-bottom: 30px;
                }
            }
            @if($i <= 100 and $i >= 70){
                @media screen and (max-width: 767px) {
                    padding-bottom: 40px;
                }
            }
        }
        .u-pt#{$i}{
            padding-top: 0px + $i;
            @if($i < 70 and $i > 30){
                @media screen and (max-width: 767px) {
                    padding-top: 30px;
                }
            }
            @if($i <= 100 and $i >= 70){
                @media screen and (max-width: 767px) {
                    padding-top: 40px;
                }
            }
        }
    }
}